@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color: #3B82F6;
    --dark-grey-color: #6B7280;
    --off-white-color: #E5E7EB;
    --off-blue-color: #93C5FD;
}

/** This style applies to all content inside body **/

body{
    font-family: 'Montserrat', sans-serif;
}

/** This style applies only to elements that have a class name of container **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

/** This style applies only to elements that have a class name of container-center **/

.container-center{
    max-width: 600px;
    margin: auto;
}

/** This style applies only to elements that are links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.55rem;
    color: white;
    border: 1px solid var(--primary-color);
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.55rem;    
    border: 1px solid var(--primary-color);
}


/* Setting up top and bottom margin for hr tag */

hr{
    margin: 2rem 0rem;
}

/* Removing bullet points from unordered list */

.list-non-bullet{
    list-style: none;
}

/* Styling for list-inline */

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* Navigation styling */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 3rem;
}

/* Styling for link inside navigation */

.navigation .link{
    color: white;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.8rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}


/* Header */

.hero{
    padding: 2rem;
}

.hero-img{
    max-width:350px;
    display: block;
    margin:auto;
}

.hero .hero-heading{
    color: var(--dark-grey-color);
    padding-top: 1rem;
    text-align:center;
}

/* Sections */

.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.offwhite{
    background-color: var(--off-white-color);
}

.offBlue{
    background-color: var(--off-blue-color);
}

/* Footer */

footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

footer .link{
    color: white;
}

/* The below is sometimes necessary to add as the items was not getting centered even by CSS. This was happening because the below property was overriden by User Agent Stylesheet of GoogleChrome. */

footer ul{
    padding-inline-start: 0px;
}